---
import Layout from "../layouts/Layout.astro";
import HeroWithQuery from "../components/HeroWithQuery";
import "../styles/global.css";
---

<Layout title="elarostats — NBA Stats & Analytics">
  <main>
    <HeroWithQuery client:only="react" />
  </main>
</Layout>
