---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero";
import "../styles/global.css";
---

<Layout title="elarostats — NBA Stats & Analytics">
  <main>
    <Hero client:load />
  </main>
</Layout>
